<a href="https://colab.research.google.com/github/Rafael2253/CLASE-3-TIPOS-DE-DATOS/blob/main/CLASE_3_TIPOS_DE_DATOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos.

Python ha evolucionado para ofrecer poderosos tipos de datos que lo diferencian de otros lenguajes de programación por su sencillez y flexibilidad.

Aún cuando Python cuenta con una amplia biblioteca que incluye muy diversos tipos de datos, ofrece ciertos tipos básicos.

Particularidades los tipos de datos en Python.
Tipos dinámicos.

Python es un lenguaje que no requiere que se defina el tipo de un objeto. El intérprete "infiere" el tipo de dato del que se trata.

Fuertemente tipado.

Existen operaciones que no están permitidas entre tipos que no sean compatibles.

Los tipos son clases.

En Python todos sus elementos son objetos y los datos una vez identificados, se convierten en objetos instanciados del tipo al que pertenecen.

Tabla de tipos de datos básicos de Python 3.

La siguiente tabla resume y describe los tipos de datos básicos de Python 3.

Así se define al numero 24 en sistema decimal

In [ ]:
24

24

In [ ]:
0b10001011

La siguiente celda define al número 5555 en formato hexadecimal.

In [ ]:
hex(5555)

'0x15b3'

In [ ]:
hex(9999)

'0x270f'

La siguiente celda define al número 222 en formato octal.

In [ ]:
oct(222)

'0o336'

In [ ]:
oct(777)

'0o1411'

Números de punto flotante (float).

Los objetos tipo float corresponden al conjunto de los números reales.

Ejemplos:

3.141595

-45.3556

Precisión de los números flotantes.

Hay que tomar en cuenta de que la precisión de los números dependen en gran medida de la capacidad del equipo de cómputo, por lo que en ocasiones una operación con números de tipo float no dará el resultado exacto, sino una aproximación.

Ejemplo:
La siguiente expresión da por resultado un número racional que corresponde a una suceción infinita del dígito 6 después del punto decimal.

In [ ]:
2/3

0.6666666666666666

In [ ]:
3/7

0.42857142857142855

En este caso, es imposible para Python calcular una sucesión infinita de 6 y por ende truncó el número a 16 decimales.

Números complejos (complex).

Los objetos de tipo complex corresponden al conjunto de los números complejos.

Siempre que el componente en los números reales sea distinto de 0, los objetos de tipo complex se expresarán como un par de números de tipo float separados por el operador de adición +, en el que el primer número corresponde al componente en los números reales y el componente en los números imaginarios es identificado añadiéndole la letra j al final.

La sintaxis estricta es la siguiente:

Cuando el componente imagionario es postivo. (<real>+<imaginario>j)

Cuando el componente imaginario es negativo. (<real>-<imaginario>j)

Cuando el componente real es igual a 0.

<imaginario>j

Ejemplos:

La siguiente celda muestra la forma estricta en la que se define un objeto tipo complex.

In [ ]:
complex(5, 7)

(5+7j)

In [ ]:
complex(2.8, 29)

(2.8+29j)

Las siguientes expresiones implican operaciones aritméticas con números imaginario, las cuales dan por resultado objetos tipo complex.

In [ ]:
complex(1.323 - 1j)

(1.323-1j)

In [ ]:
complex-2.9j - 23.03

In [ ]:
complex(12.4 + 0j)

En caso de que sólo se defina el componente imaginario, el resultado sólo será este componente.

In [ ]:
complex(77j)

77j

In [ ]:
complex(23j)

23j

Valores booleanos (bool).

El tipo bool es una especie de tipo numérico que es utilizado para evaluar expresiones lógicas y tiene dos valores: True y False.

Si la expresión lógica es cierta, el resultado es True.

Si la expresión lógica NO es cierta, el resultado es False. El tipo bool es una especie de tipo numérico

False equivale numéricamente a 0.

Cualquier otro valor no vacío equivale a True y su valor por defecto es 1.

In [ ]:
bool(True)

True

In [ ]:
bool(False)

False

NoneType.

El único objeto de este tipo es None y representa un valor nulo.

Una expresión que dé por resultado None no es desplegado por el intérprete.

Ejemplo: texto en negrita

La siguiente celda incluye al objeto None, pero al ejecutarla, no se despliega nada.

In [ ]:
None

In [ ]:
casa=None
print(casa)

None